services:
  gateway:
    build:
      context: .
      dockerfile: Dockerfile.bun
    volumes:
      - app-logs:/app/logs
    deploy:
      replicas: 1 # Number of replicas for the gateway service
    env_file:
      - env/.env
    networks:
      - app-network
    depends_on:
      - redis

  nginx:
    build:
      context: ./infra/nginx
    container_name: gateway-nginx
    ports:
      - "80:80"
    depends_on:
      - gateway
    networks:
      - app-network

  redis:
    image: redis/redis-stack:latest
    container_name: gateway-redis
    ports:
      - "${REDIS_PORT}:6379"
      - "${REDIS_INSIGHTS_PORT}:8001"
    networks:
      - app-network

  fluent-bit:
    image: fluent/fluent-bit:latest
    container_name: gateway-fluent-bit
    volumes:
      - ./infra/fluent-bit/fluent-bit.conf:/fluent-bit/etc/fluent-bit.conf
      - app-logs:/var/log/app
    depends_on:
      - gateway
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  app-logs:
