version: '3.8'

services:
  gateway:
    build:
      context: .
      dockerfile: Dockerfile.bun
    container_name: api-gateway
    env_file:
      - .env
    networks:
      - app-network

  nginx:
    build:
      context: ./infra/nginx
    container_name: gateway-nginx
    ports:
      - "80:80"
    depends_on:
      - gateway
    networks:
      - app-network

  redis:
    image: redis:alpine
    container_name: gateway-redis
    ports:
      - "${REDIS_PORT}:6379"
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
